/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
a:link {
    color: inherit;
}

/* visited link */
a:visited {
    color: inherit;
}

/* mouse over link */
a:hover {
    color: inherit;
}

/* selected link */
a:active {
    color: inherit;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
